{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
    }],
    "indent": ["error", "tab", {
      "SwitchCase": 1
    }]
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    },
    {
      "files": ["*.test.ts", "*.test.js"],
      "env": {
        "jest/globals": true
      },
      "plugins": [
        "jest"
      ],
      "extends": [
        "plugin:jest/recommended"
      ]
    }
  ]
}
