.git/
.github/
.husky/
coverage/
docs/
example/
src/**/__fixtures__/
src/**/*.test.js
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.gitignore
.nvmrc
.release-it.yml
.snyk
jest.config.js
lint-staged.config.js
Makefile
prettier.config.js
