name: CI

on: [push, pull_request]

jobs:
  tests:
    name: Tests and validations
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node: [10, 12, 13, 14, 15, 16]

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: |
          npm run test
          npm run coverage
        env:
          CI: true

      - name: Run validations
        run: npm run lint
        env:
          CI: true

      - name: Upload test coverage
        uses: codecov/codecov-action@v2
